@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Manuel dark mod geçişi için gerekli varyant */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Sistem ayarlarını devre dışı bırakıyoruz ki butonumuz çalışsın */
body {
  background-color: white;
  color: black;
  font-family: var(--font-geist-sans);
}