@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: white;
  color: black;
  font-family: var(--font-geist-sans);
}

/* KAYAN BANT (MARQUEE) ANIMASYONU */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}


/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox ve Standart */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield; 
}

/* --- MODERN SCROLLBAR TASARIMI --- */

/* Scrollbar genişliği ve yüksekliği */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Kaydırma yolu (Arka plan) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Kayan çubuk (Thumb) */
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
}


::-webkit-scrollbar-thumb:hover {
  background: #334EAC; 
  background-clip: content-box;
}

:where(.dark) ::-webkit-scrollbar-thumb {
  background: #475569; 
  background-clip: content-box;
}

:where(.dark) ::-webkit-scrollbar-thumb:hover {
  background: #334EAC;
}

/* Firefox için standart destek */
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}

:where(.dark) * {
  scrollbar-color: #475569 transparent;
}
